.container {
  padding: 5rem;
}

.headerTitle {
  font-size: 2.4rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

}

.cardText {
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 3rem;
}

.title {
  font-size: 2.4rem;
}

.text {
  font-size: 1.8rem;
}

@media only screen and (max-width: 1000px) {
  .content {
    grid-template-columns: 1fr;
  }

  .card {
    display: flex;

  }
}
