.container {
  width: 100%;
  
  height: 100vh;
  background-color: aquamarine;
}

.contentContainer {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  padding-top: 5.8rem;
  display: flex;
  min-width: 800px;
}

.chat {
  background-color: darkgray;
  height: 100%;
  width: 400px;
}

.dash {
  background-color: darkslateblue;
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
}

.dashChat {
background-color: yellowgreen;
min-height: 66px;
width: 100%;
}

.mainPanel {
  background-color: white;
  width: 100%;
  height: 100%;
}
