.carousel {
  padding: 0 5rem;
  overflow: hidden;
  cursor: grab;
  margin-bottom: 10rem;
}

.innerCarousel {
  display: flex;
  gap: 20px;
}

.item {
  border-radius: 20px;
  aspect-ratio: 4/5;
  min-width: 25%;
  padding: 40px;
  font-size: 2.2rem;
  background-color: var(--light-gray);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-0 {
  background-image: url('../../public/finasteride-product.jpg');
}
.item-1 {
  background-image: url('../../public/Sildenafil-product.jpg');
}
.item-2 {
  background-image: url('../../public/minoxidil-product.jpg');
}
.item-3 {
  background-image: url('../../public/finasteride-product.jpg');
}
.item-4 {
  background-image: url('../../public/Sildenafil-product.jpg');
}
.item-5 {
  background-image: url('../../public/minoxidil-product.jpg');
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.productTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productTitle {
  font-weight: 600;
}

.productAlt {

}

.productBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productInfo {
  font-size: 2rem;
}


@media only screen and (max-width: 1700px) {
  .item {
    min-width: 35%;
  }
}

@media only screen and (max-width: 1300px) {
  .item {
    min-width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .item {
    min-width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .item {
    min-width: 110%;

  }
}